{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container bg-dark d-flex flex-column align-items-center justify-content-center text-center pb-5">
    <div class="row w-100 mb-4">
        <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-white">Reviews</h2>
                <hr>
            <h2>Reviews for {{ product.name }}</h2>
            {% for review in reviews %}
                <div>
                    <strong>{{ review.user.username }}</strong>
                    <p>Rating: {{ review.rating }}/5</p>
                    <p>{{ review.comment }}</p>
                    <small>{{ review.created_at }}</small>
                </div>
            {% empty %}
                <p>No reviews yet. Be the first to review this product!</p>
            {% endfor %}
        </div>
    </div>
</div>
