html {
    height: 100%;
}

body {
    background: url('/media/hero-soap.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Nunito';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
}

/* text */
.h1head, .h2head{
    text-shadow: 2px 2px 2px black;
    backdrop-filter: blur(5px);
}

p {
    font-size: larger;
}

p.text-muted {
    color: white;
}

.main-logo-link {
    width: fit-content;
}

.content {
    text-shadow: 1px 1px 1px black;
    backdrop-filter: blur(50px);
}

.dropdown-item {
    color: white;
}

/* images */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: url('/media/hero-soap.jpg') no-repeat center center fixed;
	z-index: -1;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-img-top-pd {
    height: 400px;
    width: 500px;
    object-fit: cover;
}

.card-img-top-sb {
    height: 300px;
    width: 400px;
    object-fit: fill;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin-left: auto;
    margin-right: auto;
}


/* buttons */
.shop-now-button {
    color: white;
    min-width: 200px;
}

.btn {
    background-color: #6c757d;
    text-shadow: 1px 1px 1px black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn:hover,
.btn:active,
.btn:focus {
    background: #222;
    color: white;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #000;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
}

.input-group .form-control {
    flex: 1 1 auto;
    min-width: 50px;
    text-align: center;
}

.input-group-prepend,
.input-group-append {
    flex: 0 0 auto;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* navbar */
#topnav, #mobilenav, .dropdown-menu {
    background-color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

i,
.my-0 {
    color: white;
}

ul {
    padding: 0px;
    margin: 0px;
 }

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
}

a {
    color: #fff;
}

a:hover {
    color: #6c757d;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    justify-content: center;
    margin-top: 1.5rem; /* mt-4 */
    color: #ffffff; /* text-secondary */
}

.allauth-form-inner-content input {
    width: 100%;
    min-width: 200px;
    box-sizing: border-box;
    justify-content: center;
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
    font-size: small;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'],
.allauth-form-inner-content a.btn {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #6c757d;
    text-shadow: 1px 1px 1px black;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 50rem;
    text-decoration: none;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content a.btn:hover,
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: white;
    background: #222;
    border-color: #222;
    text-decoration: none;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
    .container {
        max-width: 80%;
      }
}

/* mobile nav bar on small screens */
@media (max-width: 992px) {
    .h1head{
        font-size: 32px;
    }
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }
}

/* to keep quantity box in a line */
@media (max-width: 930px) and (min-width: 760px), (max-width: 440px) {
    .input-group {
        flex-direction: row;
    }
}

/* remove top border in line with sides */
@media (max-width: 575px) {
    .header-container {
        padding-top: 60px;
    }
    body {
        height: calc(100vh - 116px);
    }
}

/* keep top nav in line */
@media (max-width: 420px) {
    ul, a.dropdown-item {
        font-size: 10px;
    }
    .header-container {
        padding-top: 60px;
    }
    body {
        height: calc(100vh - 116px);
    }
}