html {
    height: 100%;
}

body {
    background: url('/media/hero-soap.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Nunito';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
}

.h1head, .h2head{
    text-shadow: 2px 2px 2px black;
    backdrop-filter: blur(5px);
}

p {
    font-size: larger;
}

p.text-muted {
    color: white;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-img-top-pd {
    height: 400px;
    width: 500px;
    object-fit: cover;
}

.main-logo-link {
    width: fit-content;
}

.content {
    text-shadow: 1px 1px 1px black;
    backdrop-filter: blur(50px);
}

.shop-now-button {
    color: white;
    min-width: 200px;
}

.dropdown-item {
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #222;
    color: white;
}

#topnav, #mobilenav, .dropdown-menu {
    background-color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

i,
.my-0 {
    color: white;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: url('/media/hero-soap.jpg') no-repeat center center fixed;
	z-index: -1;
}

ul {
    padding: 0px;
    margin: 0px;
 }

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
}

a {
    color: #fff;
}

a:hover {
    color: #6c757d;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #000;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}

/* mobile nav bar on small screens */
@media (max-width: 992px) {
    .h1head{
        font-size: 32px;
    }
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }
}

@media (max-width: 420px) {
    ul {
        font-size: small;
    }
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }
}